@model GlobalImpact.Models.RecyclingBin

@{
    ViewData["Title"] = "Create";
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("admin"))
    {

        <h1>Create</h1>

        <h4>RecyclingBin</h4>

        <hr/>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-group">
                            <div class="row mb-4 align-items-center">
                                <label asp-for="Type" class="col-md-2 text-light"></label>
                                <div class="col-md-10">
                                    <select id="mySelect" asp-for="Type" asp-items="@Model.RBTList" class="form-control">
                                        <option disabled selected>--Select Role--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Latitude" class="control-label"></label>
                        <input asp-for="Latitude" class="form-control"/>
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Longitude" class="control-label"></label>
                        <input asp-for="Longitude" class="form-control"/>
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacity" class="control-label"></label>
                        <input asp-for="Capacity" class="form-control"/>
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CurrentCapacity" class="control-label"></label>
                        <input asp-for="CurrentCapacity" class="form-control"/>
                        <span asp-validation-for="CurrentCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status"/> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                    <div class="form-group">
                        <input id="RecyclingBinTypeId" type="hidden" asp-for="RecyclingBinTypeId" class="form-control"/>
                        <input type="submit" value="Create" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#mySelect').change(function () {
            var selectedOption = $(this).val();
            var url = '@Url.Action("UpdateTypeChoise")' + '?selectedOption=' + selectedOption;
            $.get(url, function (data) {
                // Handle the response from the controller action
                $('#RecyclingBinTypeId').val(data.recyclingBinTypeId);
            });
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
