@model GlobalImpact.ViewModels.RecyclingBin.EcoLogViewModel
@{
	ViewData["Title"] = "Login Ecoponto";
}

<section class="eco-log">
	<section class="top-main">
		<h1 class="page-name">ECO LOG</h1>
	</section>

	<section class="eco-log-bins">
		@foreach (var bin in ViewBag.RecyclingBins)
		{
			<div class="eco-log-bin">
				<h6>@bin.Description</h6>
				<h6>@Math.Round(bin.CurrentCapacity, 2)/@bin.Capacity</h6>

				@if (@bin.Status)
				{
					<h5>Full</h5>
				}
				else
				{
					<h5>Not Full</h5>
				}
				<form method="get" asp-action="EcoLogin">
					<input type="hidden" asp-for="IdInput" class="form-control" value="@bin.Id" />
					<button type="submit" class="btn-grad">Recycle</button>
				</form>
			</div>
		}
	</section>