@model GlobalImpact.Models.RecyclingBin

@{
	ViewData["Title"] = "EcoLogin";
}

<section class="eco-log">
	<section class="top-main">
		<h1 class="page-name">ECO LOGIN</h1>
	</section>
	<div class="eco-login-info">
		<div class="eco-login-info-first">
			<div class="eco-login-info-type">
				<h5>@Html.DisplayFor(model => model.Type) Bin</h5>
			</div>
			<div class="eco-login-info-cap">
				<h5>@Html.DisplayFor(model => model.CurrentCapacity)/@Html.DisplayFor(model => model.Capacity)</h5>
			</div>
		</div>
		</br>
		<div class="insert-code">
			<h5>Please insert your personal code</h5>
			<span class="text-danger">@ViewData["Invalido"]</span>
			</br>
			<form method="post" asp-action="EcoLogin">
				<div class="form-group">
					<input type="text" class="form-control" id="uniqueCode" name="uniqueCode" placeholder="Codigo de Reciclagem">
				</div>
				<div class="form-group">
					<input type="hidden" name="binId" value="@Model.Id" />
				</div>
				<div class="text-center">
					<button type="submit" class="btn-grad">Submeter</button>
				</div>
			</form>
		</div>
	</div>
</section>