@model GlobalImpact.Models.Product

@{
	ViewData["Title"] = "Create";
}

@if (User.Identity.IsAuthenticated)
{
	@if (User.IsInRole("admin"))
	{
		<div class="row text-center">

			<h1 class="text-white">Criar Produto</h1>

			<div class="col-md-4">
				<form asp-action="Create" enctype="multipart/form-data" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group-register" style="justify-content: space-between;">
						<div class="form-group-register-plus">
							<input asp-for="Name" class="form-control" placeholder="Nome do produto (*)" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="form-group-register-plus">
							<input asp-for="Description" class="form-control" placeholder="Descrição (*)" />
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group-register">
						<div class="form-group-register-plus">
							<input asp-for="Points" class="form-control" placeholder="Pontos (*)" type="number" step="0.01" />
							<span asp-validation-for="Points" class="text-danger"></span>
						</div>
						<div class="form-group-register-plus">
							<input asp-for="Stock" class="form-control" placeholder="Stock (*)" />
							<span asp-validation-for="Stock" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group-register-plus">
						<select asp-for="ProductCategoryId" class="form-control" asp-items="@ViewBag.Categorias">
							<option value="" disabled selected>Selecionar categoria (*)</option>
						</select>
						<span asp-validation-for="ProductCategoryId" class="text-danger"></span>
					</div>

					<input asp-for="Image" type="file" class="custom-file-input fileUpload" style="margin: 20px 0px;" />
					<p>(*) Campos obrigatórios!</p>

					<div class="row mt-4 text-center">
						<div class="text-white">
							<input type="submit" value="Criar novo produto" class="btn-grad" style="font-size: 17px;"/>
						</div>
						<div class="form-plus text-center">
							<a asp-action="Index">Voltar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	}
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
