@using GlobalImpact.ViewModels.Account
@model ForgotPasswordViewModel

<div class="forgot-password">
	<h1 class="display-4">Forgot your password?</h1>
	<div class="form-fg">
		<form asp-controller="Account" asp-action="ForgotPassword" method="post" role="form">
			<hr />
			<div class="form-group-fg">
				<input asp-for="Email" class="form-control" placeholder="Email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<div class="form-submit">
				<button type="submit" class="btn-grad">Submit</button>
			</div>
			<hr />
		</form>
	</div>
</div>
