@using GlobalImpact.ViewModels.Account
@model GlobalImpact.ViewModels.Account.RegisterViewModel

<div class="register">
	<h1 class="display-4">Register</h1>
	<div class="form-register">
		<form asp-controller="Account" asp-action="Register" method="post" role="form">
			<hr />
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group-register">
				<div class="form-group-register-plus">
					<input asp-for="Email" class="form-control-register" placeholder="Email" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>

				<div class="form-group-register-plus">
					<input asp-for="UserName" class="form-control-register" placeholder="Username" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group-register">
				<div class="form-group-register-plus">
					<input asp-for="FirstName" class="form-control-register" placeholder="First Name" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>

				<div class="form-group-register-plus">
					<input asp-for="LastName" class="form-control-register" placeholder="Last Name" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group-register">
				<div class="form-group-register-plus">
					<input asp-for="Age" class="form-control-register" placeholder="Age" />
					<span asp-validation-for="Age" class="text-danger"></span>
				</div>

				<div class="form-group-register-plus">
					<input asp-for="NIF" class="form-control-register" placeholder="NIF" />
					<span asp-validation-for="NIF" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group-register">
				<div class="form-group-register-plus">
					<input asp-for="Password" class="form-control-register" type="password" placeholder="Password" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<div class="form-group-register-plus">
					<input asp-for="ConfirmPassword" class="form-control-register" type="password" placeholder="Confirm Password" />
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
				</div>
			</div>
			<div class="form-submit">
				<button type="submit" class="btn-grad">Register</button>
			</div>
			<div class="form-register-plus">
			<a asp-area="" asp-controller="Account" asp-action="Login">Already have an account?</a>
			</div>
			<hr />
		</form>
	</div>
</div>
