@using GlobalImpact.ViewModels.Account
@using Microsoft.AspNetCore.Identity
@model RegisterViewModel
@inject SignInManager<AppUser> SignInManager

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {

        <h1 class="text-info">Create User</h1>
        <form asp-controller="Admin" asp-action="Create" method="post" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NIF" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="NIF" class="form-control" />
                    <span asp-validation-for="NIF" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="offset-md-2 col-md-10">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </form>
    }
}