@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@model AppUser

@inject SignInManager<AppUser> SignInManager

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <h1 class="text-info">Edit User</h1>

        <div class="row">
            <div class="col-md-8">
                <form method="post" asp-action="Edit">
                    <input asp-for="@Model.Id" hidden/>
                    <hr/>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Age" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="NIF" class="col-md-2"></label>
                        <div class="col-md-10">
                            <input asp-for="NIF" class="form-control" />
                            <span asp-validation-for="NIF" class="text-danger"></span>
                        </div>
                    </div>
                    @if (!ViewData["Role"].Equals("Admin"))
                    {
                        <div class="form-group">
                            <label asp-for="RoleId"></label>
                            <select asp-for="RoleId" asp-items="@Model.RoleList" class="form-control">
                                <option disabled selected>--Select Role--</option>
                            </select>
                        </div>
                    }
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Update</button>
                        <a asp-action="Index" class="btn btn-warning" style="width:auto">Back to User</a>
                    </div>
                </form>
            </div>
        </div>
    }
}