.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome p {
    margin: 40px;
}

.start-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.start-button {
    padding: 20px;
    font-size: 25px;
    margin-top: 100px;
    border: none;
    border-radius: 40px;
    width: 250px;
    background-image: linear-gradient(to right, #16A085 0%, #059742 51%, #16A085 100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 20px;
    box-shadow: 0 0 20px #023F3A;
    border: none;
    text-decoration: none;
    color: var(--bs-body-color);
}

    .start-button:hover {
        background-position: right center;
        color: #fff;
        text-decoration: none;
    }

@media only screen and (max-width: 768px) {
    .start-buttons {
        flex-direction: column;
    }
}


.display-4,
.centered {
    text-align: center;
}
