body {
    background-image: url("https://i.pinimg.com/564x/73/58/1c/73581c8c9c75066db29158bbaed34e08.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.login,
.forgot-password,
.external-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login {
    width: 80%;
    max-width: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.form-input {
    text-align: center;
}

.form-group-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.form-control {
    border-radius: 20px;
    box-shadow: 0 0 10px #023F3A;
    padding: 10px 20px;
}

.form-group-checkbox {
    width: 100%;
    text-align: left;
}

.form-submit {
    text-align: center;
}

.form-plus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .form-plus a {
        text-decoration: none;
        color: var(--bs-body-color);
        margin-bottom: 10px;
    }

        .form-plus a:hover {
            text-decoration: underline;
        }

.btn-grad {
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 5px;
    background-image: linear-gradient(to right, #16A085 0%, #059742 51%, #16A085 100%);
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 0 0 20px #023F3A;
    border: none;
    color: var(--bs-body-color);
    text-decoration: none;
}

    .btn-grad:hover {
        background-position: right center;
        color: white;
        text-decoration: none;
    }

.col-md-4 {
    text-align: center;
}

.btn {
    background: white;
    border: none;
    border-radius: 20%;
}

    .btn img {
        width: 40px;
    }

.form-fg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.form-group-fg {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .form-login {
        width: 90%;
    }

    .form-group-login {
        margin: 10px 0px;
    }

    .form-plus {
        flex-direction: column;
    }
}


/* Forgot Password */

.forgot-password-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Reset Password */

.reset-password {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

/* External Login */
.form-group-register-solo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control-register-solo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 50%;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px #023F3A;
}