.profile {
    margin: 10px 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-name {
    display: block;
    text-align: left;
    color: rgb(61,64,68);
}

.profile-info {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.general-info {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: flex-start;
    width: 40%;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 100%;
}

    .general-info img {
        width: 100px;
        border-radius: 50%;
    }

    .general-info h4 {
        color: rgb(61,64,68);
        margin: 0;
    }

    .general-info h6 {
        color: rgb(61,64,68, 50%);
    }

    .general-info p {
    }

.more-info {
    background-color: #F6F6F6;
    width: 100%;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    font-size: smaller;
    margin: 10px 0px;
}

    .more-info h5, .more-info h6 {
        margin: 0;
    }

    .more-info p:first-child {
        color: rgb(61,64,68, 50%);
    }

.more-info-side {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

    .more-info-side p:first-child {
        color: rgb(61,64,68, 50%);
    }

.other-info {
    width: 55%;
    color: rgb(61,64,68);
}

    .other-info p {
        color: rgb(61,64,68, 50%);
    }

.code {
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 20px;
    text-align: left;
    font-size: smaller;
}

.last {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

    .last .last-transaction,
    .last .last-order {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #D9D9D9;
        border-radius: 20px;
        width: 90%;
        height: 100%;
        text-align: left;
        font-size: smaller;
    }

.last-order h5 {
    align-self: center;
}

.last-order img {
    width: 175px;
    align-self: center;
}

/** MEDIA QUERIES */

@media (max-width: 768px) {
    .profile {
        margin: 10px 20px;
    }

    .general-info,
    .other-info {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .profile {
        margin: 10px 10px;
    }

    .general-info img {
        width: 80px;
    }
}