.recycling-transactions-user-page,
.eco-log,
.recycle-page {
    margin: 10px 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgb(61,64,68);
}

.recycling-transactions-user-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.recycling-transaction-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.bin-img {
    width: 75px;
    height: 75px;
    overflow: hidden;
}

.recycling-transaction-item img {
    width: 75px;
}

.bin-info {
    text-align: left;
}

/** ECO LOGIN */

.eco-login {
    margin: 10px 200px;
    display: flex;
    flex-direction: column;
    width: 50%;
    color: rgb(61,64,68);
}

.eco-login-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    padding: 20px 30px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.eco-login-info-first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/** RECYCLE */
.recycle-main {
    display: flex;
    justify-content: space-between;
}

.recycle-info {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 35%;
    height: fit-content;
}

.recycle-bin-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recycle-bin-info-c {
    display: flex;
    justify-content: space-between;
}

.recycle-current-info-p {
    display: flex;
    justify-content: space-between;
}

.recycle-current-info-items {
    display: flex;
    flex-direction: column;
}

.recycle-current-info-items-det {
    display: flex;
    justify-content: space-between;
}

.recycle-current-buttons {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.available-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #D9D9D9;
    border-radius: 20px;
    width: 60%;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}