html {
  font-size: 14px;
}

main {
    text-align: -webkit-center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    display: flex;
    justify-content: center;
    background-color: none;
}

.navbar-nav {
    align-items: center;
}

.nav-item img {
    width: 75px;
}

.nav-link {
    color: white !important;
    font-size: 20px;
}

    .nav-link:hover {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

.btn-grad-logout {
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 5px 10px;
    background-image: linear-gradient(to right, #16A085 0%, #059742 51%, #16A085 100%);
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 0 20px #023F3A;
    border: none;
    color: var(--bs-body-color);
    text-decoration: none;
}

.btn-grad-logout:hover {
    background-position: right center;
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}